<section data-ng-controller="ThelinksController" data-ng-init="find()">
    <div class="page-header">
        <h1>Thelinks</h1>
    </div>
    <div class="list-group">
        <a data-ng-repeat="thelink in thelinks" data-ng-href="#!/thelinks/{{thelink._id}}" class="list-group-item">
			<small class="list-group-item-text">
				Posted on
				<span data-ng-bind="thelink.created | date:'medium'"></span>
				by
				<span data-ng-bind="thelink.user.displayName"></span>
			</small>
			<h4 class="list-group-item-heading" data-ng-bind="thelink.name"></h4>
        </a>
    </div>
    <div class="alert alert-warning text-center" data-ng-hide="!thelinks.$resolved || thelinks.length">
    	No Thelinks yet, why don't you <a href="/#!/thelinks/create">create one</a>?
    </div>
</section>